<div class="container mt-5 flex-center z-depth-1 bg" style="height: 80%">
  <!--Section: Content-->
  <section>
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="text-center">
        <h2 class="h2 mb-5">Bienvenue sur le gestionnaire d'absences! </h2>
        <p class="text-muted mb-4">
          Vous pourrez saisir les absences des étudiants mais aussi voir l'emploi du temps.
        </p>
        <a href="#explaination">
          <button type="button" class="btn btn-primary waves-effect" style="margin: 10px;">
            <i class="fas fa-question-circle fa-lg pr-1"></i>
            Le but de l'application
          </button>
        </a>
        <a href="#developpment">
          <button type="button" class="btn btn-info waves-effect" style="margin: 10px;">
            <i class="fas fa-file-code fa-lg pr-1"></i>
            Plan de développement
          </button>
        </a>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </section>
  <!--Section: Content-->
</div>

<div class="container my-5 z-depth-1" id="explaination">
  <!--Section: Content-->
  <section class="dark-grey-text">
    <div class="row pr-lg-5">
      <div class="col-md-7 mb-4">
        <div class="view">
          <img src="../../assets/illustrations/explain_illustration.png" class="img-fluid" alt="smaple image">
        </div>
      </div>
      <div class="col-md-5 d-flex align-items-center" style="text-align: left">
        <div>
          <h3 class="font-weight-bold mb-4">Le but de l'application</h3>
          <p>Le gestionnaire d'absence a plusieurs fonctionnalitées, comme saisir des absences en fonction d'un créneau de cours ou du journée entière, voir un emploi du temps d'un
            groupe où encore voir les statistiques d'absences en pourcentage et savoir a quel moment une personne a été absente pour ensuite se justifier. <br>
            Dans cette application, il y a plusieurs rôle comme : Un(e) enseigant(e), un(e) élève, le secrétariat et un administrateur. <br>
            Chaque personne inscrite sur l'application aura un rôle attribué et aura en fonction de ce rôle des droits prédéfinis.</p>
        </div>
      </div>
    </div>
  </section>
  <!--Section: Content-->
</div>

<div class="container my-5 z-depth-1" id="developpment">
  <!--Section: Content-->
  <section class="dark-grey-text">
    <div class="row pr-lg-5">
      <div class="col-md-5 mb-4 d-flex align-items-center" style="text-align: right">
        <div>
          <h3 class="font-weight-bold mb-4">Plan de développement</h3>
          <p> Cette application a été développé dans le but d'un projet tutoré permettant le remplacement d'un stage initialement prévu. <br>
            L'application a été conçue par 2 étudiants de l'IUT de Lens et suivie par un tuteur pour mener a bien cette mission. Le fait de réaliser ce projet permet de mettre en oeuvre
            les enseignements reçus lors de la formation des étudiants.
          </p>
        </div>
      </div>
      <div class="col-md-7">
        <div class="view">
          <img src="../../assets/illustrations/dev_illustration.png" class="img-fluid" alt="smaple image">
        </div>
      </div>
    </div>
  </section>
  <!--Section: Content-->
</div>
