<!--Navbar if user is connected -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark elegant-color" *ngIf="currentUser;">
  <a class="navbar-brand" routerLink="/">Gestion absences</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
          aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/edt">EDT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/absence/list">Voir absences</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" routerLink="/absence/form">Saisir absences</a>
    </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" *ngIf="currentUser.role === 'administrateur' "> Ajouter un utilisateur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" routerLink="/login" (click)="logout()"> Deconnexion </a>
      </li>
    </ul>
  </div>
</nav>

<!--Navbar if user is not connected -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark elegant-color" *ngIf="!currentUser;">
  <a class="navbar-brand" routerLink="/">Gestion absences</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
          aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>-->
    </ul>
  </div>
</nav>
